@{
    ViewData["Title"] = "Cari Tiket";
}

@model MVC_ASP.Models.tiket
<div class="cariTiket">
    <h1>Pilih Tiket</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id Tiket</th>
            <th scope="col">No Penerbangan</th>
            <th scope="col">Maskapai</th>
            <th scope="col">Dari</th>
            <th scope="col">Ke</th>
            <th scope="col">Jam Keberangkatan</th>
            <th scope="col">Waktu Tiba</th>
            <th scope="col">Tanggal Berangkat</th>
            <th scope="col">Harga</th>
            
            
        </tr>
    </thead>
    <tbody>
       @{
            var data = (List<tiket>)ViewData["data"]!;
            foreach (var user in data)
            {
                <tr>
                    <td>@user.id_tiket</td>
                    <td>@user.no_penerbangan</td>
                    <td>@user.maskapai</td>
                    <td>@user.dari</td>
                    <td>@user.ke</td>
                    <td>@user.jam_keberangkatan</td>
                    <td>@user.waktu_tiba</td>
                    <td>@user.tanggal_berangkat</td>
                    <td>@user.harga</td>
                    
                    
                </tr>
            }
        }
    </tbody>
</table>

        <form asp-controller="Home" asp-action="cariTiket" class="pilih_tiket">
            <div class="form-row">
                <div class="col">
                    <label>Pilih Tiket</label>
                    <input type="text" asp-for="id_tiket" class="form-control" placeholder="Masukkan ID Tiket">
                </div>
                <div class="form-group">
                    <label>Pilih Bangku</label>
                    <select asp-for="bangku" class="form-control" id="kelas">
                        <option>A-1</option>
                        <option>A-2</option>
                        <option>A-3</option>
                        <option>A-4</option>
                    </select>
                </div>
                <div class="col">
                    <label>Username</label>
                    <input type="text" asp-for="username" class="form-control" placeholder="Username">
                </div>
            </div>
                <button id="BeliTiket" type="submit" class="button-77" role="button">Beli Tiket</button>
        </form>


